/* You can add custom styles here. */
.gblog-header {
  font-family: 'Tahoma';
}
.gblog-post__header a, .gblog-post__header h1 {
  font-family: 'Tahoma';
  letter-spacing: -1px;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 20px;
  color: #fff;
  width: 40px;
  height: 40px;
  z-index: 2;
  display: none;
}
#back-to-top:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: darkslategray;
}
#back-to-top:after {
  content: "↑";
  font-size: 20pt;
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}